{% extends 'layout/base.html' %}

{% block title %}
Trang quản lí học sinh
{% endblock %}

{% block content %}
<div class="row pb-3 pt-3" id="nav-manage-student">
    <div class="col-3">
        <select class="form-select" aria-label="Default select example" id="class_" name="class_"
                onchange="get_students_by_class(['student_name','gender','birthday','total_core','status_payment','class_name'])">
            <option value="" selected>Tất cả các lớp</option>
            {% if class_ %}
            {% for class in class_ %}
            <option value="{{class.id}}">{{class.name}}</option>
            {% endfor %}
            {% else %}
            <option>Không có dữ liệu</option>
            {% endif %}
        </select>
    </div>
    <div class="col-3">
        <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#add_student">
            <i class="fa-solid fa-user-plus"></i>
            <span>Thêm học sinh</span>
        </button>
        <!-- Modal -->
        <div class="modal fade" id="add_student" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header text-center">
                        <h1 class="modal-title fs-3 ms-auto" id="ModalLabel">THÊM HỌC SINH</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="{{ url_for('manage_student') }}" method="POST">
                            <!-- Thêm  CSRF token -->
                            {{ form_add_student.csrf_token }}
                            <div class="form-group mb-3 row">
                                <div class="col-8">
                                    {{ form_add_student.name.label(class_="form-label") }}
                                    {{ form_add_student.name }}

                                    {% for error in form_add_student.name.errors %}
                                    <span class="form-text text-danger">{{ error }}</span>
                                    {% endfor %}
                                </div>
                                <div class="col-4">
                                    {{ form_add_student.gender.label(class_="form-label") }}
                                    {{ form_add_student.gender }}

                                    {% for error in form_add_student.gender.errors %}
                                    <span class="form-text text-danger">{{ error }}</span>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="form-group mb-3 row">
                                <div class="col-md-12">
                                    {{ form_add_student.birthday.label(class_="form-label") }}
                                    {{ form_add_student.birthday }}

                                    {% for error in form_add_student.birthday.errors %}
                                    <span class="form-text text-danger">{{ error }}</span>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="form-group mb-3">
                                {{ form_add_student.number_phone.label(class_="form-label") }}
                                {{ form_add_student.number_phone }}

                                {% for error in form_add_student.number_phone.errors %}
                                <span class="form-text text-danger">{{ error }}</span>
                                {% endfor %}
                            </div>
                            <div class="form-group mb-3">
                                {{ form_add_student.email.label(class_="form-label") }}
                                {{ form_add_student.email }}

                                {% for error in form_add_student.email.errors %}
                                <span class="form-text text-danger">{{ error }}</span>
                                {% endfor %}
                            </div>
                            <div class="form-group mb-3">
                                {{ form_add_student.address.label(class_="form-label") }}
                                {{ form_add_student.address }}

                                {% for error in form_add_student.address.errors %}
                                <span class="form-text text-danger">{{ error }}</span>
                                {% endfor %}
                            </div>
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Quay lại</button>
                            {{ form_add_student.btn_add_student }}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-3">
        <button class="btn btn-outline-primary" data-bs-toggle="modal"
                data-bs-target="#modal_add_excel">
            <i class="fa-solid fa-arrow-right-to-bracket"></i>
            <span>Nhập liệu từ excel</span>
        </button>
        <div class="modal fade" id="modal_add_excel" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Nhập danh sách học sinh từ file excel</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="/staff/upload_by_excel" method="POST" enctype="multipart/form-data">
                            <div class="form-group pb-4">
                                <label for="upload_file">Vui lòng chọn file .xlsx</label> <br>
                                <input type="file" name="upload_file" id="upload_file"/>
                            </div>
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Quay lại</button>
                            <button type="submit" class="btn btn-primary" name="btn_upload_file" value="show-true">Ghi
                                nhận
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% if students %}
<table class="table text-center table-bordered border-primary" id="list-student">
    <thead>
    <tr>
        <th scope="col" class="border-box">STT</th>
        <th scope="col">
            <span>Họ và tên</span>
            <i class="fa-solid fa-chevron-down"></i>
        </th>
        <th scope="col">Giới tính</th>
        <th scope="col">Ngày sinh</th>
        <th scope="col">Điểm trung bình</th>
        <th scope="col">Học phí</th>
        <th scope="col">Lớp</th>
        <th scope="col">action</th>
    </tr>
    <tr>
        <th scope="col"></th>
        <th scope="col">
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
                       id="search"
                       oninput="search_name_student(['student_name','gender','birthday','total_core','status_payment','class_name'])">
            </form>
        </th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody class="show-student">
    {% for st in students %}
    <tr id="student-{{st.student_id}}">
        <th scope="row">{{ loop.index }}</th>
        <td>{{ st.students.profile.name }}</td>
        <td>{{ 'Nam' if st.students.profile.gender == 0 else 'Nữ' if st.students.profile.gender == 1 else 'None' }}</td>
        <td>{{ st.students.profile.birthday.strftime('%d-%m-%Y') if st.students.profile.birthday else 'None' }} </td>
        <td>Điểm</td>
        <td>{{ 'Đã thanh toán' if st.students.status_payment == 1 else 'Chưa thanh toán'  }}</td>
        <td>{{st.class_.name}}</td>
        <td>
            <button class="btn btn-danger" onclick="deleteStudent({{st.student_id}})" style="font-size: .5rem;!important">
                <i class="fa-regular fa-trash-can"></i>
            </button>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<div class="alert alert-danger text-center">Không có dữ liệu</div>
{% endif %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        {% if show_modal %}
            $('#add_student').modal('show'); // Sử dụng ID modal của bạn
        {% endif %}
    });
    function deleteStudent(studentId){
             if(confirm('Bạn có chắc chắn muốn xóa') === true){
                    fetch(`/api/student_class/${studentId}`,{
                        methods:'delete'
                    }).then(res => res.json()).then(data => {
                        if(data.status === 200){
                            alert('Đã xóa thành công');
                            document.getElementById(`student-${studentId}`).style.display='none';
                        }
                    });
             }
    }
</script>
{% endblock %}