{% extends 'admin/master.html' %}
{% block body %}
<h1 class="text-center text-primary">Thong ke bao cao</h1>
<div class="row">
    <div class="col-md-7 col-12">
        <h1 class="text-center text-danger mt-1">FLIGHT MANAGEMENT STATISTICS</h1>

        <h2 class="mt-4">BÁO CÁO TỔNG KẾT MÔN HỌC</h2>
        <form method="post">
            <div class="form-group">
                <label for="grade">Khối:</label>
                <select id="grade" onchange="load_info_by_grade()" class="form-control" name="grade">
                    <option value="">-- Chọn Khối --</option>
                    <option value="10">Khối 10</option>
                    <option value="11">Khối 11</option>
                    <option value="12">Khối 12</option>
                </select>
            </div>
            <div class="form-group">
                <label for="subject">Môn:</label>
                <select id="subject" class="form-control" name="subject"> </select>
            </div>
            <div class="form-group">
                <label for="semester_name">Học kỳ:</label>
                <select id="semester_name" class="form-control" name="semester"> </select>
            </div>
            <div class="form-group">
                <label for="semester_year">Năm học:</label>
                <input type="text" class="form-control" name="" id="semester_year" disabled/>
            </div>
            <button type="submit" class="btn btn-outline-primary">Thống kê</button>
        </form>
    </div>
</div>
<script>
    function load_info_by_grade() {
        const grade = document.getElementById('grade');
        const subject = document.getElementById('subject');
        const semester_name = document.getElementById('semester_name');
        const semester_year = document.getElementById('semester_year');

        fetch('/api/admin/get_info', {
            method: 'post',
            headers: {'Content-Type': 'application/json'},
            body: JSON.stringify({
                'grade_value': grade.value
            })
        }).then(res => res.json()).then(data => {
            console.log(data)
            subject.innerHTML = '';
            semester_name.innerHTML = '';
            semester_year.innerHTML = '';
            semester_year.value = data.semesters[0].semester_year;

            data.subjects.forEach(dt => {
                const option_ = document.createElement('option');
                option_.value = dt.subject_id;
                option_.textContent = dt.subject_name;

                subject.append(option_);
            })

            data.semesters.forEach(dt => {
                const option_1 = document.createElement('option');
                option_1.value = dt.semester_id;
                option_1.textContent = dt.semester_name;

                semester_name.append(option_1);
            })
        });
    }

<!--    function stats_info(button) {-->
<!--            window.location.href = `/admin/statinfoview/?subject=${button.id}&semester=${document.getElementById("semester").value}`-->
<!--        }-->
</script>
{% endblock %}