<div id="header" class="bg-dark">
    <nav class="navbar navbar-light navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" href="/home">
                <img width="50" height="50" class="rounded-circle"
                     src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSuGt0WOUyvyMPTIH4hZlM_Y_L137Se-jmWlw&s"
                     alt="Logo">
                <span class="form-text text-white">TRƯỜNG THPT NNT</span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbar-main" aria-controls="navbar-main"
                    aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa-solid fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbar-main">
<!--                <form class="d-flex" role="search" id="search-main">-->
<!--                    <input class="form-control me-2" type="search" placeholder="Tìm kiếm học sinh"-->
<!--                           aria-label="Search">-->
<!--                    <button class="btn-search btn btn-outline-light" type="submit">Tìm</button>-->
<!--                </form>-->
                <ul class="navbar-nav ms-auto flex-row justify-content-between">
                    <li class="nav-item pe-2 ps-2">
                        <a class="nav-link active" aria-current="page" href="#" title="Lịch giảng dạy">
                            <i class="fa-regular fa-calendar-days fs-3 text-white-50"></i>
                        </a>
                    </li>
                    <li class="nav-item pe-2 ps-2">
                        <a class="nav-link active" aria-current="page" href="#" title="Thông báo">
                            <i class="fa-solid fa-bell fs-3 text-white-50"></i>
                        </a>
                    </li>
                    <li class="nav-item pe-2 ps-2">
                        <a class="nav-link active" aria-current="page" href="#" title="Thông tin">
                            <i class="fa-solid fa-user-tie fs-3 text-white-50"></i>
                        </a>
                    </li>
                    <li class="nav-item pe-2 ps-2 d-inline-block d-md-none">
                        <a class="nav-link active" aria-current="page" href="#" title="Tiên ích"
                           data-bs-toggle="offcanvas"
                           data-bs-target="#responsive-sidebar">
                            <i class="fa-solid fa-ellipsis fs-3 text-white-50"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
