<ul class="navbar-nav bg-light">
    <li class="nav-item ps-3">
        <a class="nav-link text-dark" aria-current="page" href="/home">
            <i class="fa-solid fa-house"></i>
            <span>Trang chủ</span>
        </a>
    </li>
    <li class="nav-item ps-3">
        <a class="nav-link text-dark" aria-current="page" href="/manage_student">
            <i class="fa-solid fa-list-ul"></i>
            <span>Quản lí học sinh</span>
        </a>
    </li>
    <li class="nav-item ps-3">
        <a class="nav-link text-dark" aria-current="page" href="#">
            <i class="fa-solid fa-list-ul"></i>
            <span>Quản lí danh sách lớp</span>
        </a>
    </li>
    <li class="nav-item ps-3">
        <a class="nav-link text-dark" aria-current="page" href="/logout">
            <i class="fa-solid fa-right-from-bracket"></i>
            <span>Đăng xuất</span>
        </a>
    </li>
</ul>